<%- include('partials/header') %>
    <div class="alert alert-info">
        <i class="bi bi-info-circle"></i> This is the checkout page. You can integrate your checkout.html content here or use it as a standalone page.
    </div>
    <div class="text-center">
        <a href="/checkout.html" class="btn btn-primary" target="_blank">Open Standalone Checkout Page</a>
    </div>
<%- include('partials/footer') %>


